.sidebar {
  height: 100vh;
  width: 300px;
  background: #5c646d;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  padding: 28px;
  margin: 6% 3%;
  background: #fff;
}
.sidebar::-webkit-scrollbar {
  background: #333;
  width: 1em;
  outline: solid 2px #333;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #fff;
  width: 1em;
}
.item-view {
  padding: 40px;
  font-size: 20px;
}
